<div class="container">
    <!-- BEGIN CONTENT -->
    <div class="row margin-bottom-40">
        <div class="col-md-12 col-sm-12">
            <h1>About us</h1>
            <div class="content-page">
                <p><img src="/assets/frontend/pages/img/productpage/flange-brake-motor-1755451.jpg" alt="About us" class="img-responsive"></p>
                <p>Running under the guidance of a true visionary, Mr. Sanjay Patel, CEO of the company, Elmech Industries has come a long way since its inception in the year 2004. With the sincere dedication of a team of experts the company has spread its wings in the worldwide markets. Originally, we are headquartered at Ahmedabad, Gujarat.</p>
                <h2>Factory & Infrastructure</h2>
                <p>We operate on a wide-spread infrastructural area of around 500 sq. yard, wherein we have installed all modern amenities and equipment, which is required to manufacture the products that we offer. In addition to this, we have a production capacity of 1000 Pics./per month and we have two factories.</p>
                <h2>Our Manufacturing System</h2>
                <p>We are engaged in manufacturing special purpose motors as per customer requirement like tailor made Motor. We are assisted by a team of experts, who can assure supply of a wide range from 110V to 480V 3-Phase & 40 Hz to 100 Hz frequency. In addition to this, we also engaged in manufacturing Electric Motor with suitable mechanical dimensions & arrangement as per customer requirement. Moreover, we have specialized in manufacturing special type motors for SPM machines.</p>
                <h2>Quality Policy</h2>
                <p>We never compromise on the quality of good that we offer to the clients. In addition to this, we take pride in mentioning that we have attained ISO certification for offering the best-in-class products to our clients that too while catering to their specific requirements in a time-bound manner.</p>
                <h2>Our Clients</h2>
                <p>We take pride in mentioning that we have successfully served a number of reputed clients, which includes Adani Power Ltd.; Maharashtra, A-One International Zank; Ahmedabad, Ambica Engg.Co., Ahmedabad, Alka Electricals, Morbi, Agrawal Textiles, Surat, Aditya Engg. Jalgaon, Bombay Dyeing Mills Ltd., Surat, Brady & Morries Engg. Ltd, Ahmedabad, Baba Engg. Works, Akola Electrotherm Ltd., Kuchcch, Gujarat , Emerald Engineering, Baroda, Excel Electromagnetic, Udaipur , Eagle Auto & Machinery, Surendranagar and Gupta Textile, Surat etc. A detailed list is given below :</p>
                <ul class="about-menu">
                    <li>Adani Power Ltd., Maharashtra</li>
                    <li>A-One International, Zank, Ahmedabad</li>
                    <li>Ambica Engg.Co., Ahmedabad</li>
                    <li>Alka Electricals, Morbi</li>
                    <li>Agrawal Textiles, Surat</li>
                    <li>Aditya Engg. Jalgaon</li>
                    <li>Bombay Dyeing Mills Ltd., Surat</li>
                    <li>Brady & Morries Engg. Ltd, Ahmedabad</li>
                    <li>Baba Engg. Works, Akola</li>
                    <li>Electrotherm Ltd., Kuchcch, Gujarat</li>
                    <li>Emerald Engineering, Baroda</li>
                    <li>Excel Electromagnetic, Udaipur</li>
                    <li>Eagle Auto & Machinery, Surendranagar</li>
                    <li>Gupta Textile, Surat</li>
                    <li>Honest Engg. Works, Surat</li>
                    <li>Hy-Tech Engg. Co., Bhavnagar</li>
                    <li>Ishith Engg. Works, Ahmedabad</li>
                    <li>J.D.Textile Engg., Ahmedabad</li>
                    <li>Kalol Institute & Technology, Kalol</li>
                    <li>Khushi Khubi Industries, Ahmedabad</li>
                    <li>Keyal Engg. Co., Kolkata</li>
                    <li>Laxmi Mechanical Works, Secundrabad</li>
                    <li>Maxtech Engineers, Ahmedabad</li>
                    <li>Mototechnica Hydroparts Pvt. Ltd., Rajkot</li>
                    <li>Oswal Extrusion Ltd, Santej, Ahmedabad</li>
                    <li>Pal Engineers, Ahmedabad</li>
                    <li>Precision Machine Tools, Ahmedabad</li>
                    <li>Prayosha Enterprise, Ahmedabad</li>
                    <li>Prime Power Tools, Ahmedabad</li>
                    <li>Ricon Dynemic Pvt. Ltd., Ahmedabad</li>
                    <li>Sampat Heavey Engg. Co. Ltd., Ahmedabad</li>
                    <li>Trumatic Agro Engineers, Ahmedabad</li>
                    <li>United Transmission, Anand</li>
                    <li>Wartex Industries, Nasik</li>
                    <li>Wiper Drive Engineers, Mumbai</li>
                    <li>Yash Plast Industries, Ahmedabad</li>
                    <li>Yash Engineering, Ahmedabad</li>
                    <li>ZG Equipment Pvt. Ltd. Baroda</li>
                </ul>
                <table class="table table-bordered ">
                    <tr>
                        <td align="right"><b>Name Of CEO</b></td>
                        <td>Mr. Sanjay Patel</td>
                    </tr>
                    <tr>
                        <td align="right"><b>Year Of Establishment</b></td>
                        <td>2004</td>
                    </tr>
                    <tr>
                        <td align="right"><b>Nature Of Business</b></td>
                        <td>Manufacturer &amp; Supplier</td>
                    </tr>
                    <tr>
                        <td align="right"><b>Number Of Employees</b></td>
                        <td>20 - 50</td>
                    </tr>
                    <tr>
                        <td align="right"><b>Annual Turnover</b></td>
                        <td>Rs 5 to 25 Crore Approx</td>
                    </tr>
                    <tr>
                        <td align="right"><b>Market Covered</b></td>
                        <td>Worldwide</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- END CONTENT -->
    </div>

</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        Layout.init();
        Layout.initOWL();
        LayersliderInit.initLayerSlider();
        Layout.initImageZoom();
        Layout.initTouchspin();
        Layout.initTwitter();
    });
</script>
<style>
    .about-menu li {
        padding-bottom: 8px;
    }
</style>