  <!-- BEGIN CONTENT -->

<div class="container">
    <div class="row margin-bottom-40">
        <div class="col-md-12 col-sm-12">
            <h1>Reset password</h1>
            <div class="content-form-page">
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <form class="form-horizontal form-without-legend" role="form" name="loginform">
                            <div class="form-group">
                                <label for="email" class="col-lg-4 control-label">Enter New Password<span class="require">*</span></label>
                                <div class="col-lg-8">
                                    <input type="password" class="form-control"  required ng-model="user.NewPassword">
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-lg-4 control-label">Re-enter New Password<span class="require">*</span></label>
                                <div class="col-lg-8">
                                    <input type="password" class="form-control" required ng-model="user.ConfirmPassword">

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20" ng-click="resetPassword()">
                                    <button type="button" class="btn btn-primary" ng-click="">Change Password</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->
<script src="/assets/frontend/layout/scripts/layout.js" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        Layout.init();
        Layout.initUniform();
        Layout.initTwitter();
    });
</script>
