
<div class="container">
   
    <div class="col-md-12">
        <div id="map" class="gmaps margin-bottom-40" style="height:400px;"></div>
    </div>
    <div >
        <div class="row margin-bottom-40">
            <table class="table">
                <tr>
                    <td>
                        <p><b><font size="6" color="red">ELMECH INDUSTRIES</font></b></p>
                        <font size="4">
                            <p><b>Mr. Sanjay Patel</b></p>
                            <p>11, Shri Narayan Estate, Plot No. 26, Near Torrent Power Sub - Station, GIDC, Odhav, Ahmedabad, Gujarat, India</p>
                            <p><b>Mobile :</b> +91-9825466450</p>
                            <p><b>Email Address :</b> <a href="mailto:elmechmotor@yahoo.co.in">elmechmotor@yahoo.co.in</a></p>
                            <p><b>Alternate Email ID :</b> <a href="mailto:info@elmechmotor.com">info@elmechmotor.com</a></p>
                            <p><b>Web Site :</b> <a href="http://www.elmechindustries.in" target="_blank" title="http://www.elmechindustries.in">http://www.elmechindustries.in</a></p>
                            <p><b>Web Page :</b> <a href="https://www.exportersindia.com/elmech-industries-company3465871/" target="_blank" title="https://www.exportersindia.com/elmech-industries-company3465871/">https://www.exportersindia.com/elmech-industries-company3465871/</a></p>
                        </font>
                    </td>
                </tr>
            </table>
        </div>
        </div>
</div>

<script type="text/javascript">
        jQuery(document).ready(function() {
                      ContactUs.init();
                   });
</script>
<script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();
            Layout.initOWL();
            LayersliderInit.initLayerSlider();
            Layout.initImageZoom();
            Layout.initTouchspin();
            Layout.initTwitter();
        });
</script>